*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: rgb(173, 166, 173);
}
.container img
{
    position: absolute;
    top: 100px;
    left:680px ;
    border: 10px solid violet;
    border-radius: 50%;
    width: 150px;
    z-index: 1;
    background-color: rgb(31, 30, 83);
    
}
article
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    
}

.container
{
    
    border:1px solid blue;
    width: 350px;
    
    height: 500px;
    margin: auto;
    margin-top: 200px;
    border: 0px solid #1C6EA4;
    border-radius: 32px 32px 32px 32px;
    background-color: rgb(36, 68, 136);


    

}
.names
{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}
.names h1
{

    color: violet;
    margin: 10px;

}
.names h3
{

}
.followers
{
    background-color:violet ;
    color: #fff;
    margin-top: 230px;
    text-align: center;
    border: 1px solid violet;
    border-bottom-left-radius: 32px ;
    border-bottom-right-radius: 32px;

    padding-top: 20px;
    padding-bottom: 20px;


}

/*******Icons***************/
.icons
{
    width: 50%;
    text-align: center ;
    margin: 10px auto;
    background-color: violet;
    border-radius: 50%;
}
.icons a
{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.4em;
    color: #FFFAE1;
}
.icons a:hover
{
    transform: scale(1.5);
    transition: 0.1s;
}